<footer class="p-4 md:p-8 lg:p-10 bg-gray-800">
  <div class="mx-auto max-w-screen-xl text-center">
      <a href="/" class="text-lg sm:text-center text-white block">ProjectManager</a>
      <span class="text-sm sm:text-center text-gray-400">© 2024</span>
  </div>
</footer>